<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="/static/ieatcss/css/foundation.css" />
    <script src="/static/ieatcss/js/vendor/modernizr.js"></script>
  </head>
  <body>

<!-- Row Header-->
    <div class="row">
      <div class="large-3 columns">
        <h1><img src="/static/ieatcss/img/why-the-yeti.svg" /></h1>
      </div>
      <!-- <div class="large-9 columns">
      <ul class="inline-list right">
        <li><a href="#">WHY</a></li>
        <li><a href="#">THE</a></li>
        <li><a href="#">YETI</a></li> 
        <li><a href="login.html">by arief mr</a></li>
      </ul>
      </div> -->
    </div>
<!-- End Row Header-->
  
<!-- Row Menu -->
    <div class="row">
      <nav class="top-bar " data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Analisis Sentimen</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown active"><a href="#">Right Button Active</a>
              <ul class="dropdown">
                <li><a href="/view_tweets_ori">Tweets Ori</a></li>
                <li><a href="/view_tweets_ori_labeled">Tweets Ori Labeled</a></li>
                <li><a href="/view_tweets_praproses">Tweets Praproses</a></li>
                <li><a href="/view_tweets_test">Tweets Test</a></li>
                <!-- <li class="active"><a href="#">Active link in dropdown</a></li> -->
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">View Tweets</a>
              <ul class="dropdown">
                <li><a href="/view_tweets_ori">Tweets Ori</a></li>
                <li><a href="/view_tweets_ori_labeled">Tweets Ori Labeled</a></li>
                <li><a href="/view_tweets_praproses">Tweets Praproses</a></li>
                <li><a href="/view_tweets_test">Tweets Test</a></li>
                <!-- <li class="active"><a href="#">Active link in dropdown</a></li> -->
              </ul>
            </li>
          </ul>
          <!-- Left Nav Section -->
          <!-- <ul class="left">
            <li><a href="#">Left Nav Button</a></li>
          </ul> -->
        </section>
      </nav>
    </div>
    <br>
    <!-- <div class="row">
      <div class="large-3 columns">
        <h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
        <h4><b>Analisis Sentimen</b></h4>
      </div>
      <div class="large-9 columns">
        <ul class="inline-list right">
          <li class="has-dropdown"><a href="#">Section 1</a>
            <ul class="dropdown">
                <li><a href="/view_tweets_ori">Tweets Ori</a></li>
                <li><a href="/view_tweets_ori_labeled">Tweets Ori Labeled</a></li>
                <li><a href="/view_tweets_praproses">Tweets Praproses</a></li>
                <li><a href="/view_tweets_test">Tweets Test</a></li>
            </ul>
          </li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
        </ul>
      </div>
    </div> -->
<!-- End Row Menu-->

<!-- Row Content -->
    <div class="row">
      <div class="large-9 push-3 columns">
        {% block content %}
        {% endblock %}
      </div>

      <div class="large-3 pull-9 columns">       
        <ul class="side-nav">
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
          <li><a href="#">Section 5</a></li>
          <li><a href="#">Section 6</a></li>
        </ul>
        <p><img src="http://placehold.it/320x240&text=Ad"/></p>
      </div>
      
    </div>
<!-- End Row Content-->

<!-- Footer-->
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© Support by</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">ieatcss</a></li>
              <li><a href="#">foundation 5</a></li>
              <li><a href="#">Ubuntu</a></li>
              <li><a href="#">Cherrypy</a></li>
              <li><a href="#">Jinja</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </footer>
<!-- End Footer-->
   
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
