<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analisis Sentimen</title>
    <link rel="stylesheet" href="/static/ieatcss/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="/static/third_party/css/dataTables.foundation.css">
    <script src="/static/ieatcss/js/vendor/modernizr.js"></script>

    <script type="text/javascript" language="javascript" src="/static/third_party/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/third_party/js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="/static/third_party/js/dataTables.foundation.min.js"></script>

      <!-- If you are using the gem version, you need this only -->

    <link rel="stylesheet" href="/static/ieatcss/css/app.css">
  </head>
  <body>

<!-- Row Header-->
    <div class="row">
      <div class="large-2 columns">
        <h1><img src="/static/ieatcss/img/why-the-yeti.svg" /></h1>
      </div>
    </div>
<!-- End Row Header-->
  
<!-- Row Menu -->
    <div class="row">
      <nav class="top-bar " data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Analisis Sentimen</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown"><a href="#">Input Tweets</a>
              <ul class="dropdown">
                <li><a href="/form_crawler">Tweet Crawler</a></li>
                <li><a href="/form_crawler_test">Tweet Crawler Test</a></li>
                <li><a href="/form_input_tweet_test">Tweet Test</a></li>
                <li><a href="/form_input_tweet_labeled">Tweet Label</a></li>
                <li><a href="/open_file_txt">Tweet from a file</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">View Tweets</a>
              <ul class="dropdown">
                <li><a href="/view_tweets_ori">Tweets Ori</a></li>
                <li><a href="/view_tweets_label">Tweets Label</a></li>
                <li><a href="/view_tweets_praproses">Tweets Praproses</a></li>
                <li><a href="/view_tweets_test">Tweets Test</a></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Classification Tweets</a>
              <ul class="dropdown">
                <li><a href="/ngetweet">ngeTweet</a></li>
                <li><a href="/proses_test_clasiffication">Tweet Test</a></li>                
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">Modelling</a>
              <ul class="dropdown">
                <li><a href="/form_labeling">Labeling Tweet</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    <br>
<!-- End Row Menu-->

<!-- Row Content -->
    <div class="row">
      <div class="large-3 push-9 columns">
        <a class="twitter-timeline" href="https://twitter.com/search?q=bpjs" data-widget-id="570088429883383808">Tweets about bpjs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>

      <div class="large-9 pull-3 columns">       
        {% block content %}
        {% endblock %}
      </div>
      
    </div>
<!-- End Row Content-->

<!-- Footer-->
    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© Support by</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <!-- <li><a><img src="/static/images/zurb.png"/></a></li>
              <li><a><img src="/static/images/poss-upi.png"/></a></li>
              <li><a><img src="/static/images/cherrypy.png"/></a></li>
              <li><a><img src="/static/images/ubuntu.png"/></a></li>
              <li><a><img src="/static/images/mysql.jpg"/></a></li> -->
              <li><a href="#">ieatcss</a></li>
              <li><a href="#">foundation 5</a></li>
              <li><a href="#">Ubuntu</a></li>
              <li><a href="#">Cherrypy</a></li>
              <li><a href="#">Jinja</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </footer>
<!-- End Footer-->
   
    <!-- <script src="/static/ieatcss/js/vendor/jquery.js"></script> -->
    <script src="/static/ieatcss/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
