{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
    <div class="panel" style="">
        {% for item in post %}
            <p> {{ item['user']['screen_name'] }} </p>
            <p> {{ item['text'] }} </p>
            <hr>
        {% endfor %}
        <hr />
        <ul class="inline-list">
          <li><a href='/ubah_tulisan/'><img src="/static/icon/edit.png" /></a></li>
          <li><a href='/hapus_tulisan/'><img src="/static/icon/trash.png" /></a></li>
        </ul>
    </div>
</div>

{% endblock %}
