{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
    <div class="panel" style="">
        <h4>Masukan keyword tweets yang akan di crawler :</h4>
        <hr />
        <form method="post" action="/proses_crawler">
            <input type="text" name='keyword' placeholder="masukkan keyword tweets yang ingin dicari ..." />
            <br />
            <br />
            <input type="submit" value="Cari" class="small button"/>
        </form>
    </div>
</div>

{% endblock %}
