{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
	<h5>Labeling Tweets</h5>
    <hr />
    <div class="panel" style="">
        <form method="post" action="/input_batch_tweet_label">
        {%
        set num = 1
        %}
        {% for tw in post %}
	      	<div class="row" name="tweet_sentimen" >
			    <div class="large-8 columns">
			      	<label><b>id_tweet_ori {{ tw['id'] }}</b></label>
		        	<textarea name="tweets_{{ tw['id'] }}" style="margin: 0px 0px 16px; height: 100px; width: 473px;">{{ tw['tweet'] }}</textarea>
		        	<input type="hidden" name="keyword_{{ tw['id'] }}" value="{{ tw['keyword'] }}" >
			    </div>
			    	<div class="large-2 columns">
		  				<div class="row" name="tweet_sentimen" >
				      		<label><b>Setimen</b></label>
				      	</div>
						<input type="radio" name="sentimen_{{ tw['id'] }}" value="positif" id="positif-{{ tw['id'] }}"><label for="positif-{{ tw['id'] }}">Positif</label>
						</br>
						<input type="radio" name="sentimen_{{ tw['id'] }}" value="negatif" id="negatif-{{ tw['id'] }}"><label for="negatif-{{ tw['id'] }}">Negatif</label>
						</br>
						<input type="radio" name="sentimen_{{ tw['id'] }}" value="netral" id="netral-{{ tw['id'] }}" checked><label for="netral-{{ tw['id'] }}">Netral</label>
		    		</div>
			    	<div class="large-2 columns">
						</br>
						<input type="radio" name="sentimen_{{ tw['id'] }}" value="news" id="news-{{ tw['id'] }}" checked><label for="news-{{ tw['id'] }}">News</label>
						</br>
						<input type="radio" name="sentimen_{{ tw['id'] }}" value="question" id="question-{{ tw['id'] }}" checked><label for="question-{{ tw['id'] }}"><font size="1">Question</font></label>
						</br>
						<input type="radio" name="sentimen_{{ tw['id'] }}" value="non" id="non-{{ tw['id'] }}" checked><label for="non-{{ tw['id'] }}">Non</label>
			    	</div>
			</div>
			<hr>
		{%
		set num = num + 1
		%}
        {% endfor %}
        	<input type="submit" value="Submit" class="small button"/>
            <input type="reset"  value="Reset" class="small button"/>
    	</form>
    </div>
</div>

{% endblock %}
