{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
    <div class="panel" style="">
        <h4>Tweet :</h4>
        <hr />
        <form method="post" action="/proses_test_clasiffication">
            <input type="text" name='keyword' placeholder="masukan keyword ..." />
            <br />
            <br />
            <input type="submit" value="Cari" class="small button"/>
        </form>
    </div>
</div>


{% endblock %}
