{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
    <h5>Form Input Tweet Test</h5>
        <hr />
    <div class="panel" style="">
        <form method="post" action="/insert_tweet_test">
            <b>Tweeet Test :</b> <input type="text" name='tweet' placeholder="masukan tweet opini ..." />
            <input type="submit" value="Cari" class="small button"/>
        </form>
    </div>
</div>


{% endblock %}
