{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
    <h5>Form Input Tweet Labeled</h5>
        <hr />
    <div class="panel" style="">
        <form method="post" action="/insert_tweet_label_manual">
            <div class="row">
                <div class="large-8 columns">
                    <label><b>Tweet {{ num }}</b></label>
                        <textarea name="tweet" placeholder="masukan tweet opini ..." style="margin: 0px 0px 16px; height:   100px; width: 473px;"></textarea>
                </div>
                <div class="large-4 columns">
                    <label><b>Setimen</b></label>
                    <input type="radio" name="sentiment" value="positif" id="positif"><label for="positif">Positif</label>
                </br>
                    <input type="radio" name="sentiment" value="negatif" id="negatif"><label for="negatif">Negatif</label>
                </br>
                    <input type="radio" name="sentiment" value="non" id="non" checked><label for="non">Non</label>
                </div>
            </div>
            <input type="submit" value="Submit" class="small button"/>
            <input type="reset"  value="Reset" class="small button"/>
        </form>
    </div>
</div>


{% endblock %}
