{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
    <div class="panel" style="">
        <h4>Masukan Tweet Opini:</h4>
        <hr />
        <form method="post" action="/proses_clasiffier_pertweet">
            <input type="text" name='tweet' placeholder="masukan tweet opini ..." autofocus/>
            <br />
            <br />
            <input type="submit" value="Cek Tweet" class="small button"/>
        </form>
    </div>
</div>


{% endblock %}
