{% extends "base.html" %}

{% block content %}

<div class="four columns centered">
    <div class="panel" style="">
        <h4>Silahkan login</h4>
        <hr />
        {% if error_login_msg %}
        <small class="error">{{error_login_msg}}</small>
        {% endif %}
        <form method="post" action="/user/login">
            <label>Pengguna : </label>
            <br />
            <input type="text" name='username'/>
            <label>Kata Sandi : </label>
            <br />
            <input type="password" name='password' />
            <br />
            <br />
            <input type="submit" value="Login" class="small button"/>
        </form>
    </div>
    
</div>


{% endblock %}
