{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
    <div class="panel" style="">
        <h4>Tweet :</h4>
        <hr />
        <form method="post" action="/input_batch_tweetFromFile">
            <input type="text" name='path_file' placeholder="masukan path_file ..." />
            <br />
            <br />
            <input type="submit" value="Cari" class="small button"/>
        </form>
    </div>
</div>


{% endblock %}
