{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
	<h5>Tweet Test</h5>
        <hr />
	<table cellpadding="0" cellspacing="0" border="0" class="tdisplay" id="example">
	    <thead>
	        <tr>
	            <th>No.</th>
	            <th>Tweets</th>
	        </tr>
	    </thead>
	    <tbody>
	        {% set no = 1 %}
	        {% for tw in post %}
	            <tr class="odd gradeX">
	                <td>{{ no }}</td>
	                <td>{{ tw['tweet'] }}</td>
	            </tr>
	            {% set no = no + 1 %}
	        {% endfor %}
	    </tbody>
	</table>

<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('#example').dataTable();
      } );
    </script>

{% endblock %}
