{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
	<h5>
		Hasil Analisis Sentimen pada Tweet Berbahasa Indonesia
	</h5>
    <div class="panel" style="">
        {% for tw in post %}
            {% if(tw['sentimen'] == "negatif"): %}
                {% set color = "red" %}
            {% elif(tw['sentimen'] == "positif"): %}
                {% set color = "blue" %}
            {% else: %}
                {% set color = "green" %}
            {% endif %}
                <p> {{ tw['tweet'] }} || <font color="{{ color }}">  {{ tw['sentimen'] }}  </font></p>
            <hr />
        {% endfor %}
    </div>
</div>

{% endblock %}
