{% extends "base.html" %}

{% block content %}

<!-- This is how to get variable counter with global variable in Jinja2, 
    using Extensions = ['jinja2.ext.do']-->
{% set count_positif = [] %}
{% set count_negatif = [] %}
{% set count_other = [] %}

<table cellpadding="0" cellspacing="0" border="0" class="tdisplay" id="example">
    <thead>
        <tr>
            <th>No.</th>
            <th>Tweets</th>
            <th>Sentimen</th>
        </tr>
    </thead>
    <tbody>
        {% set no = 1 %}
        
        {% for tweet in post %}    
            {% if(tweet['sentimen'] == "negatif"): %}
                {% set color = "red" %}
                <!-- negatif counter -->
                {% do count_negatif.append(1) %}
            {% elif(tweet['sentimen'] == "positif"): %}
                {% set color = "blue" %}
                <!-- positif counter -->
                {% do count_positif.append(1) %}
            {% else: %}
                {% set color = "green" %}
                {% do count_other.append(1) %}
            {% endif %}
            <tr class="odd gradeX">
                <td>{{ no }}</td>
                <td>{{ tweet['tweet'] }}</td>
                <td><font color="{{ color }}">  {{ tweet['sentimen'] }}</font></td>
            </tr>
            {% set no = no + 1 %}
        {% endfor %}

    </tbody>
</table>

<div id="information" title="Basic dialog">
    <div class="panel" style="">
        <p><font color="blue">Positif : {{ count_positif|length }}</font></p>
        <p><font color="red">Negatif : {{ count_negatif|length }}</font></p>
        <p><font color="green">Others : {{ count_other|length }}</font></p>
    </div>
</div>



<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('#example').dataTable();
      } );
    </script>


{% endblock %}
