{% extends "base.html" %}

{% block content %}

<div class="twelve columns">
	<h5>
		Hasil Analisis Sentimen pada Tweet Berbahasa Indonesia
	</h5>
    <div class="panel" style="">
        {% for tw in post %}
            {% if(tw['sentimen_by_nbc'] == "negatif"): %}
                {% set color_nbc = "red" %}
            {% elif(tw['sentimen_by_nbc'] == "positif"): %}
                {% set color_nbc = "blue" %}
            {% else: %}
                {% set color_nbc = "green" %}
            {% endif %}
                
            {% if(tw['sentimen_by_maxent'] == "negatif"): %}
                {% set color_maxent = "red" %}
            {% elif(tw['sentimen_by_maxent'] == "positif"): %}
                {% set color_maxent = "blue" %}
            {% else: %}
                {% set color_maxent = "green" %}
            {% endif %}
            
            <p>{{ tw['tweet'] }}</p>
            <p>NBC Classifier: <font color="{{ color_nbc }}">  {{ tw['sentimen_by_nbc'] }}  </font></p>
            <p>Maxent Classifier: <font color="{{ color_maxent }}">  {{ tw['sentimen_by_maxent'] }}  </font></p>
            <hr />
        {% endfor %}
    </div>
</div>

{% endblock %}
